nav {
	background-color: #ab343a;
}
nav a {
	color: #fff;
}
nav a:hover {
	color: #fff;
}

nav .dropdown-menu {
	background-color: #ab343a;
}
nav .dropdown-menu a {
	color: #fff;
}

.container {
	margin: 15% auto 0 auto;
	text-align: center;
}