<nav class="navbar navbar-expand-lg navbar-dark">
	  <a class="navbar-brand" th:href="@{/home}">SIMAN</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Ingreso Activo
	        </a>
	           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" th:href="@{/ingresoActivo}">Hardware</a>
	          <a class="dropdown-item" href="#">Software</a>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Asignacion
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" >Hardware</a>
	          <a class="dropdown-item" href="#">Software</a>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Reasignacion
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Hardware</a>
	          <a class="dropdown-item" href="#">Software</a>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Prestamos
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Consultas
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Hardware</a>
	          <a class="dropdown-item" href="#">Software</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Reportes
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Hardware</a>
	          <a class="dropdown-item" href="#">Software</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Utilitarios
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Hardware</a>
	          <a class="dropdown-item" href="#">Software</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Mantenimientos
	        </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <div class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Activo Fijo</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" th:href="@{/tipoEquipo1}">Tipo Equipo</a></li>
                  <li><a class="dropdown-item" th:href="@{/claseEquipo}">Clase Equipo</a></li>
                  <li><a class="dropdown-item" th:href="@{/marca}">Marca</a></li>
                  <li><a class="dropdown-item" th:href="@{/familia}">Familia</a></li>
                  <li><a class="dropdown-item" th:href="@{/modelo}">Modelo</a></li>
                </ul>
            </div>
	          <div class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Ingreso Software</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Clase Software</a></li>
                  <li><a class="dropdown-item" href="#">Clase Licencia</a></li>
                  <li><a class="dropdown-item" href="#">Tipo Licencia</a></li>
                  <li><a class="dropdown-item" href="#">Software</a></li>
                </ul>
            </div>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Seguridad
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Hardware</a>
	          <a class="dropdown-item" href="#">Software</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	    </ul>

	    <form class="form-inline my-2 my-lg-0">
	      <a class="navbar-brand" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Salir</a>
	    </form>
	  </div>
	</nav>
