<!DOCTYPE html>
<html lang="en">
<head>
	<style type="text/css">
	</style>
	<link rel="stylesheet" type="text/css" href="/css/ingresoActivo.css">
	<!-- Required meta tags -->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
   

    <title>Creando Activo Fijo</title>

</head>
<body>


	<!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>  

<!--Luego mejorar esta parte como la de entrada de datos-->
	<div class="form-group">
		<div class="container">
			<div class="row">
				<div class="titulo">
					<h1>Ingreso Activo Fijo</h1>
				</div>
			</div>
		</div>

	<form th:action="@{/saveActivo}" th:object="${listActivo}" method="post" onsubmit="return confirm('¿Estás seguro que quieres ingresar este registro?');">
		<div class = "container">
			<div class=row>

		<!--Luego mejorar esta parte como la de entrada de datos-->

				<div class="col-md-3">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Organización</span>
					</div>
					<input type="text" class="form-control" name="organizacion" placeholder="ALSISA S.A DE C.V" >
				</div>
				<div class="col-md-3">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">País</span>
					</div>
					<input type="text" class="form-control" name="pais" placeholder="El SALVADOR">
				</div>
				<div class="col-md-3">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Compañía</span>
					</div>
					<input type="text" class="form-control" name="compañia" placeholder="Almacenes Siman S.A de C.V El Salvador">
				</div>
				<div class="col-md-3">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Garantía</span>
					</div>
					<input type="text" class="form-control" name="garantia" placeholder="1" th:field="*{id_usuario}">
				</div>

				<div class="col-md-3">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Correlativo</span>
					</div>
					<input type="text" class="form-control" name="correlativo" placeholder="">
				</div>
				<div class="col-md-3">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Usuario Autorizador</span>
					</div>
					<input type="text" class="form-control" name="autorizador" placeholder="">
				</div>
				<div class="col-md-3">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Número Activo *</span>
					</div>
					<input type="text" class="form-control" name="numeroactivo" placeholder="" th:field="*{numero_activo}" required>
				</div>
				<div class="col-md-3">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Tipo de Equipo *</span>
					</div>
					<div class="dropdown">
						<select class="form-control" th:field="*{id_tipoequipo}" id="tipo_equipo" required>
							<option value="0" selected disabled hidden>Tipo equipo</option>
							<option th:each="getTipoequipo : ${tequipo}" th:value="${getTipoequipo.id_tipoequipo}" th:text="${getTipoequipo.descripcion}"/>
						</select>
					</div>
				</div>


				<div class="col-md-12">
					<h1>Datos de entrada</h1> <hr>
				</div>

				<div class="col-md-4">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Ticket</span>
					</div>
					<input type="text" class="form-control" name="ticket" placeholder="" th:field="*{ticket}">
				</div>
				<div class="col-md-4">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">PO</span>
					</div>
					<input type="text" class="form-control" name="orden_compra" placeholder="" th:field="*{po}">
				</div>
				<div class="col-md-4">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Envio Entrada</span>
					</div>
					<input type="text" class="form-control" name="envio_entrada" placeholder="" th:field="*{envio_entrada}">
				</div>

				<div class="col-md-8">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Proveedor *</span>
					</div>
					<div class="dropdown">
						<select class="form-control" th:field="*{id_proveedor}" id="id_proveedor" required>
							<option value="0" selected disabled hidden>Proveedor</option>
							<option th:each="getProveedor : ${gproveedor}" th:value="${getProveedor.id_proveedor}" th:text="${getProveedor.nombre_proveedor}"/>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Credito Fiscal</span>
					</div>
					<input type="text" class="form-control" name="credito_fiscal" placeholder="" th:field="*{credito_fiscal}">
				</div>

				<div class="col-md-4">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Retaceo</span>
					</div>
					<input type="text" class="form-control" name="retaceo" placeholder="" th:field="*{retaceo}">
				</div>
				<div class="col-md-4">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Job Costing</span>
					</div>
					<input type="text" class="form-control" name="job_costing" placeholder="" th:field="*{job_costing}">
				</div>
				<div class="col-md-4">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Garantía *</span>
					</div>
					<div class="dropdown">
						<select class="form-control" th:field="*{id_garantia}" id="id_garantia" required>
							<option value="0" selected disabled hidden>Garantía</option>
							<option th:each="getGarantia : ${ggarantia}" th:value="${getGarantia.id_garantia}" th:text="${getGarantia.duracion_garantia}"/>
						</select>
					</div>
				</div>

				<div class="col-md-12">
					<hr>
				</div>

				<div class="col-md-3">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Clase Equipo *</span>
					</div>
					<div class="dropdown">
						<select class="form-control" th:field="*{id_claseequipo}" id="id_claseequipo" required>
							<option value="0" selected disabled hidden>Clase Equipo</option>
							<option th:each="getClase : ${gclase}" th:value="${getClase.id_claseequipo}" th:text="${getClase.nombre_claseequipo}"/>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Marca *</span>
					</div>
					<div class="dropdown">
						<select class="form-control" th:field="*{id_marca}" id="id_marca" required>
							<option value="0" selected disabled hidden>Marca</option>
							<option th:each="getMarca : ${gmarca}" th:value="${getMarca.id_marca}" th:text="${getMarca.nombre_marca}"/>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Familia *</span>
					</div>
					<div class="dropdown">
						<select class="form-control" th:field="*{id_familia}" id="id_familia" required>
							<option value="0" selected disabled hidden>Familia</option>
							<option th:each="getFamilia : ${gfamilia}" th:value="${getFamilia.id_familia}" th:text="${getFamilia.nombre_familia}"/>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Modelo *</span>
					</div>
					<div class="dropdown">
						<select class="form-control" th:field="*{id_modelo}" id="id_modelo" required>
							<option value="0" selected disabled hidden>Modelo</option>
							<option th:each="getModelo : ${gmodelo}" th:value="${getModelo.id_modelo}" th:text="${getModelo.nombre_modelo}"/>
						</select>
					</div>
				</div>

				<div class="col-md-4">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Sistema Operativo *</span>
					</div>
					<div class="dropdown">
						<select class="form-control" th:field="*{id_sistemaop}" id="id_sistemaop" required>
							<option value="0" selected disabled hidden>Sistema Operativo</option>
							<option th:each="getSistemao : ${gsistemao}" th:value="${getSistemao.id_sistemaop}" th:text="${getSistemao.nombre_sistemaop}"/>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Llave Producto</span>
					</div>
					<input class="form-control" type="text" name ="key" placeholder="" th:field="*{llave_producto}">
				</div>
				<div class="col-md-4">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Serie *</span>
					</div>
					<input class="form-control" type="text" name="serie" placeholder="" th:field="*{serie}" required>
				</div>

				<div class="col-md-6">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Fecha *</span>
					</div>
					<input class="form-control" type="date" name="fecha" id="datetime" th:field="*{fecha_ingreso}" required>
				</div>
				<div class="col-md-6">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Comprador *</span>
					</div>
					<div class="dropdown">
						<select class="form-control" th:field="*{id_comprador}" id="id_comprador" required>
							<option value="0" selected disabled hidden>Comprador</option>
							<option th:each="getComprador : ${gcomprador}" th:value="${getComprador.id_comprador}" th:text="${getComprador.nombre_comprador}"/>
						</select>
					</div>
				</div>

				<div class="col-md-12">
					<hr>
				</div>

				<div class="col-md-12">
					<h2>Datos Complementarios</h2>
				</div>

				<div class="col-md-4">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Procesador</span>
					</div>
					<div class="dropdown">
						<select class="form-control" th:field="*{id_procesador}" id="id_procesador">
							<option value="0" selected disabled hidden>Procesador</option>
							<option th:each="getProcesador : ${procesador}" th:value="${getProcesador.id_procesador}" th:text="${getProcesador.nombre_procesador}"/>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Memoria</span>
					</div>
					<div class="dropdown">
						<select class="form-control" th:field="*{id_memoria}" id="id_memoria">
							<option value="0" selected disabled hidden>Memoria</option>
							<option th:each="getMemoria : ${memoria}" th:value="${getMemoria.id_memoria}" th:text="${getMemoria.memoria}"/>
						</select>
					</div>
				</div>

				<div class="col-md-4">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Disco Duro</span>
					</div>
					<div class="dropdown">
						<select class="form-control" th:field="*{id_discoduro}" id="id_discoduro">
							<option value="0" selected disabled hidden>Disco Duro</option>
							<option th:each="getDisco : ${disco}" th:value="${getDisco.id_discoduro}" th:text="${getDisco.espacio}"/>
						</select>
					</div>
				</div>
				
				<div class="col-md-4"></div>
				
				<div class="col-md-4">
					<div class="form-check">
					  	<input class="form-check-input" type="checkbox" th:value="1" id="mouse" th:field="*{mouse}">
					  	<span class="input-group-text" id="basic-addon1">Mouse</span>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="form-check">
					  	<input class="form-check-input" type="checkbox" th:value="1" id="teclado" th:field="*{teclado}">
					  	<span class="input-group-text" id="basic-addon1">Teclado</span>
					</div>
				</div>
				

				<div class="col-md-12">
					<div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Comentarios</span>
					</div>
					<textarea class="form-control" name="comentario" th:field="*{comentario}"></textarea>
				</div>

				<div class="col-md-12">
					<hr>
				</div>

				<div class="col-md-4">
					<button type="submit" class="btn btn-outline-success">GUARDAR</button>
				</div>
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4">
					<a class="btn btn-outline-danger" th:href="@{/home}" role="button" style="width: 100%;">REGRESAR</a>
				</div>
			</div>
		</div>
	</form>
	</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script> src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	$.ajax({
		url : 'src/main/java/com/siman/activofijo1/TipoEquiposServlet',
		cache: false, 
		dataType : 'json',
		success : function(result) {
			$.each(result, function(key, value){
				$('<option>').val(key).text(value).appendTo("#TipoEquipos")
			});
		}
	});
});

$(document).on("change", "#TipoEquipos", function(){
	$("#ClaseEquipos").find('option').remove();
	$('<option>').val("").text("-Select Clase Equipos-").appendTo("#ClaseEquipos");
	$("#MarcaEquipos").find('option').remove();
	$('<option>').val("").text("-Select Marca-").appendTo("#MarcaEquipos");
	//posiblemente tengo que poner las otras dos clases que me faltan
	var selectTipoEquiposId = $("#TipoEquipos").val();
	$.ajax({
		url : "/ClaseEquipoServlet",
		data: {
			tipoequipoId : selectTipoEquiposId
		},
		dataType : 'Json',
		success : function(result){
			$.each(result, function(key, value){
				$('<option>').val(key).text(value).appendTo("#ClaseEquipos")
			});
		}
	});
});

$(document).on("change", "#ClaseEquipos", function(){
	$("#MarcaEquipos").find('option').remove();
	$('<option>').val("").text("-Select Marca-").appendTo("#MarcaEquipos");
	var selectClaseEquiposId = $("#TipoEquipos").val();
	$.ajax({
		url : "/MarcaEquipoServlet",
		data: {
			claseequipoId : selectClaseEquiposId
		},
		dataType : 'Json',
		success : function(result){
			$.each(result, function(key, value){
				$('<option>').val(key).text(value).appendTo("#MarcaEquipos")
			});
		}
	});
});
</script>


</body>
</html>
    
