<!DOCTYPE html>
<html lang="en">
<head>
	<style type="text/css">
	</style>
	<link rel="stylesheet" type="text/css" href="/css/mantenimiento.css">
	<!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Tipo de Equipo</title>

</head>
<body>


	<!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>

<!--Luego mejorar esta parte como la de entrada de datos-->
	<div class="form-group">
		<div class="container">
			<div class="row">
				<div class="titulo">
					<h1>Tipo de Equipo</h1>
				</div>
			</div>
		</div>

	<form >
		<div class = "container">
			<div class=row>

		<!--Luego mejorar esta parte como la de entrada de datos-->

				<div class="col-md-4">
					<a class="btn btn-outline-success" th:href="@{/tipoEquipo_Save}" role="button">Agregar Nuevo Registro</a>
				</div>
				<div class="col-md-8"></div>


				<div class="col-md-12">
					<hr>
				</div>


				<div class="col-md-12">
					<h5>*Seleccione un item de la tabla para modificarlo o eliminarlo</h5>
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<tr>
						    <th scope="col">ID</th>
							<th scope="col">Descripcion</th>
							<th scope="col">Flag</th>
							<th scope="col">Estado</th>
							<th scope="col">Acciones</th>
						</tr>
						<tr th:each="tipoequipo : ${listEquipo}">
							<td th:text="${tipoequipo.id_tipoequipo}">ID</td>
							<td th:text="${tipoequipo.descripcion}">Descripcion</td>
							<td th:text="${tipoequipo.flag}">Flag</td>
							<td th:text="${tipoequipo.estado}">Estado</td>
							<td>
							<form onsubmit="return confirm('¿Estás seguro que quieres eliminar este registro?');" th:action="@{/delete/{id_tipoequipo}(id_tipoequipo=${tipoequipo.id_tipoequipo})}">
							<a th:href="@{/edit/{id_tipoequipo}(id_tipoequipo=${tipoequipo.id_tipoequipo})}" class="btn btn-outline-primary">Modificar</a>
							&nbsp;&nbsp;
                            <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                            </form>
							</td>
						</tr>
					</table>
				</div>

			</div>
		</div>
	</form>
	</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</body>
</html>
